streamlit
crewai[tools,FirecrawlSearchTool,FirecrawlScrapeWebsiteTool,GithubSearchTool,SerperDevTool]>=0.102.0
crewai-tools
firecrawl-py
markitdown
chonkie
chonkie
qdrant-client
sentence-transformers
firecrawl
gitpython   
