streamlit
crewai
crewai-tools
firecrawl-py 'crewai[tools]'
crewai[FirecrawlSearchTool]
crewai[FirecrawlScrapeWebsiteTool]
crewai[GithubSearchTool]
crewai[SerperDevTool]
markitdown
chonkie
chonkie
qdrant-client
sentence-transformers
firecrawl
gitpython   
