streamlit
crewai
crewai[FirecrawlSearchTool]
crewai[FirecrawlScrapeWebsiteTool]
crewai[GithubSearchTool]
crewai[SerperDevTool]
markitdown
chonkie
chonkie
qdrant-client
sentence-transformers
firecrawl
gitpython   
